.main {
    background-image: url(https://freerangestock.com/sample/151068/a-woman-running-in-the-woods.jpg);
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    padding: 150px;
}

.signup {
    margin-bottom: 10px;
}
.login {
    margin-top: 10px;
    padding-left:25px;
}
