.form, .modal,input {
    background-color: #ADB991;
}
.savebutton {
    background-color: rgb(0, 128, 0, .5);
    color: white;
    border: none;

}
.savebutton, .cancelbutton {
    width: 50px;
    height: 25px;
}

.cancelbutton {
    background-color: gray;
    border: none;
    color: white;
    margin-left: 10px;
}

.input {
    border: none;
    text-align: center;
}
.buttons {
    width: 300px;
    text-align: center;
}