* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workout-history-container {
  background-color: rgb(169, 213, 153);
 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.workout-cards-container {
  display: flex;
  border: 1px solid #ccc;
  background-color: rgb(244, 244, 244);
  
  padding: 20px;
  flex-direction: column; /* Change to column */
  align-items: center;
  gap: 20px;
}

.workout-card {
  border: 1px solid #ccc;
  background-color: #dcdcdc;
  padding: 10px;
 
}

.chart-container {
  background-color: rgb(244, 255, 240);
  width: 700px;
  margin-top: 20px;
  position: relative;
}

.chart-container canvas:nth-child(2) {
  width: 100%;
  height: 100px;
  background-color: rgb(232, 247, 219);
  
}

.chart-center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.chart-container > canvas {
  margin-top: 0;
  background-color: rgb(255, 255, 255);
}
.chart-container canvas:first-child {
  margin-top: 0;
}
/* Centering the headers */
.workout-header {
  margin-bottom: 0;
  text-align: center;
}